<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 300px;"
         [src]="product.image" alt="{{product.name}}" class="img-responsive">
 
    </div>
 </div>
 <div class="row">
     <div class="col-xs-12">
         <h1>{{product.name}}</h1>
     </div>
 </div>
 <div class="row">
     <div class="col-xs-12">
         {{product.description}}
     </div>
 </div>
 <div class="row">
     <div class="col-xs-12">
         <ul class="list-group">
             <li class="list-group-item"
             *ngFor="let tag of product.tags"
             >
             {{tag}}
             </li>
         </ul>
     </div>
 </div>
 <br>
 <div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-secondary" (click)="onEditProduct()">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</div>
